*{
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
	height: 100%;
	font-family: 'Helvetica Neue Regular', Arial, Tahoma, sans-serif;
}

@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.wrapper{
	background: url(../img/fon5.jpg) no-repeat;
	width: 100%;
	min-height: 1080px;
}

.clearfix:after{
	display: block;
	content: '';
	clear: both;
}

 .menu~span{
 	width: 30px;
 	height: 30px;
	background: url(../img/12345.png) no-repeat;
	position: absolute;
	top: 7px;
	right: 303px;	
}


.menu{
	list-style: none;
	background: #074f8d ;
	

}

.menu li{
	float: right;

}

.menu li a{
	padding: 0 25px;
	text-decoration: none;
	display: block;
	font-size: 14px;
	color: #60b5ed;
	line-height: 38px;
}

.menu li a:hover{
	background: #4eabda;
	color: #fff;
}

.menu li:nth-child(2){
	border-left: 1px solid #4eabda;
	color: #fff;	
}

.fon{
	width: 560px;
	height: 60px;
	margin: 300px auto 2px;
	background: rgba(0, 0, 0, 0.5);

}

.fon p{
	text-align: center;
	line-height: 60px;
	font-size: 24px;
	color: #fff;
}

.fon2{
	display: block;
	width: 560px;
	height: 550px;
	margin: auto;
	background: rgba(0, 0, 0, 0.5);
	position: relative;
}

.face{
	vertical-align: middle;
	width: 40px;
	text-align: center;
	line-height: 34px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#395797+0,2c4677+100,365293+100 */
background: #395797; /* Old browsers */
background: -moz-linear-gradient(top,  #395797 0%, #2c4677 100%, #365293 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #395797 0%,#2c4677 100%,#365293 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #395797 0%,#2c4677 100%,#365293 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#395797', endColorstr='#365293',GradientType=0 ); /* IE6-9 */
    box-shadow: 0px -1px 0px 0px #768aaf;
	display: inline-block;
	border-radius: 5px 0 0 5px;
	border-right: 1px solid #1f3d71;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	position: relative;
	top:34px;
	left: 142px;
	font-size: 25px;	
}

.login{
	font-weight: bold;
	width: 234px;
	text-align: center;
	line-height: 34px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#395797+0,2c4677+100,365293+100 */
background: #395797; /* Old browsers */
background: -moz-linear-gradient(top,  #395797 0%, #2c4677 100%, #365293 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #395797 0%,#2c4677 100%,#365293 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #395797 0%,#2c4677 100%,#365293 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#395797', endColorstr='#365293',GradientType=0 ); /* IE6-9 */
    border-left: 1px solid #5169af;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	border-radius: 0 5px 5px 0;
	box-shadow: 0px -1px 0px 0px #768aaf;
	position: relative;
	top: 35px;
	left: 138px;	
}

.login span{
	font-weight: normal;
}

.form1{
	display: block;
	box-sizing: border-box;
	font-size: 14px;
	padding-left: 20px; 
	background: #000;
	border: 0px solid #fff;
	margin: 110px auto 0;
	width: 274px;
	height: 34px;
	/*left: 470px;*/
	border-bottom: 1px solid #474747;
}

.form2{
	display: block;
	margin: 20px auto 0;
	box-sizing: border-box;
	font-size: 14px;
	padding-left: 20px; 
	background: #000;
	border: 0px solid #fff;
	width: 274px;
	height: 34px;
	border-bottom: 1px solid #474747;
}

.form3{
	display: block;
	margin: 20px auto 0;
	box-sizing: border-box;
	font-size: 14px;
	padding-left: 20px; 
	background: #000;
	border: 0px solid #fff;
	width: 274px;
	height: 34px;
	border-bottom: 1px solid #474747;
}

.form4{
	display: block;
	margin: 20px auto 0;
	box-sizing: border-box;
	font-size: 14px;
	padding-left: 20px; 
	background: #000;
	border: 0px solid #fff;
	width: 274px;
	height: 34px;
	border-bottom: 1px solid #474747;
}

.form5{
	display: block;
	margin: 20px auto 0;
	box-sizing: border-box;
	font-size: 14px;
	padding-left: 20px; 
	background: #000;
	border: 0px solid #fff;
	width: 274px;
	height: 34px;
	border-bottom: 1px solid #474747;
}

.check{
	position: relative;
	top: 21px;
	left: 145px;
}

.red{
	position: relative;
	top: 22px;
	left: 155px;
	font-size: 14px;
	color: #4ca9d9;
}

.and p:first-child{
	text-align: center;
	color: #fff;
	font-size: 11px;
	margin-top: 18px;
}

.and p:last-child{
	text-align: center;
	color: #fff;
	font-size: 11px;
}

.button{
	border: 1px solid #477893;
    border-top: 1px solid #67c6e6;
	margin: 45px auto 0px;
	display: block;
	font-size: 14px;
	line-height: 34px;
	border-radius: 5px;
	color: #fff;
	padding: 0 10px;
    background: #4aa5d7; 
    background: -moz-linear-gradient(top,  #4aa5d7 0%, #3281c7 100%); 
    background: -webkit-linear-gradient(top,  #4aa5d7 0%,#3281c7 100%); 
    background: linear-gradient(to bottom,  #4aa5d7 0%,#3281c7 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4aa5d7', endColorstr='#3281c7',GradientType=0 ); 
}

 p>span{
	text-align: center;
	color: #999999;
	width: 100%;
	height: 20px;
	position: absolute;
	top: 100px;
	left: 0;
}

.form5:hover{
	background: #1b5288;
	border-bottom: 1px solid #689bcc;
	box-shadow: 0px 0px 8px 3px #689bcc;
}

.form4:hover{
	background: #1b5288;
	border-bottom: 1px solid #689bcc;
	box-shadow: 0px 0px 8px 3px #689bcc;
}

.form3:hover{
	background: #1b5288;
	border-bottom: 1px solid #689bcc;
	box-shadow: 0px 0px 8px 3px #689bcc;
}

.form2:hover{
	background: #1b5288;
	border-bottom: 1px solid #689bcc;
	box-shadow: 0px 0px 20px 3px #689bcc;
}

.form1:hover{
	background: #1b5288;
	border-bottom: 1px solid #689bcc;
	box-shadow: 0px 0px 20px 3px #689bcc;
}

input:focus { 
	outline: none; 
}





