* {
	margin: 0;
	padding: 0;
}
body {
	background: #f9f9f9;
}
.vrapper {
	margin: 0 auto;
	padding: 0 48px;
	width: 1064px;
	height: 1000px;
	background: #ffffff;
	box-shadow: 0 0 5px 0 rgba(77,76,76,1);
	font-family: Myriad Pro, Arial, sans-serif;
}
.header {
	padding-top: 50px;
}
.clearfix:after{
	content: '';
	clear: both;
	display: block;
}
.menu {
	margin-top: 40px;
	background: #4d4c4c;

	width: 100%;
	height: 40px;
	
}
.menu ul li {
	float: left;
	list-style: none;
}
.menu ul li a{
	text-decoration: none;
	padding: 0 40px;
	line-height: 40px;
	color: white;
	display: block;
}
.menu ul li a:hover {
	background: #393939;
	border-right: 1px solid gray;
	border-left: 1px solid gray;
	
}
.logo{
	float: right;
}
.sidebar {
	margin-top: 40px;
}
.sidebar {
	width: 240px;
	height: 180px;
}
.sidebar ul li {
	list-style: none;
}
.sidebar ul li a {
	text-decoration: none;
	display: block;
	padding: 5px;
	border: 1px solid #c8c8c8;
	border-bottom: none;
	color: black;
}
#brd {
	border-bottom: 1px solid #c8c8c8; 
}
.sidebar ul a:hover {
	color: white;
	background-color: #c8c8c8;
}
.text {
	clear: both;
	float: right;
	width: 670px;
	margin-top: 40px;
	line-height: 20px;
	margin-bottom: 40px;
}
.footer {
	width: 100%;
	height: 40px;
	background: #c8c8c8;
}
.footer ul li {
	float: left;
	list-style: none;

}
.footer ul li a {
	padding: 0 40px;
	line-height: 40px;
	color: black;
	text-decoration: none;
	display: block;
}
#undr {
	text-decoration: underline;
}
#space {
	padding-left: 240px;
	line-height: 40px;
}
/*correct mistakes*/
