* {
	margin: 0;
	padding: 0;
}

body {
	background: #f9f9f9;
}

.vrapper {
	margin: 0 auto;
	padding: 0 48px;
	width: 1064px;
	height: 1000px;
	background: #ffffff;
	box-shadow: 0px 0px 5px 0px rgba(77,76,76,1);
	font-family: Arial, sans-serif;
}

.header {
	padding-top: 50px;
}

.menu {
	margin-top: 40px;
	background: #4d4c4c;
}

.menu ul {
	word-spacing: 60px;


}

.menu li {
	display: inline-block;
	list-style: none;

}

.menu a {
	display: block;
	height: 30px;
	text-decoration: none;
	padding: 10px;
	color: white;
	
}

.menu a:hover {
	background: #393939;
}

.logo{
	float: right;
}

.sidebar {
	margin-top: 40px;
	
}

.sidebar ul {
	width: 240px;
	height: 180px;
	
}

.sidebar li {
	list-style: none;
}


.sidebar a {
	text-decoration: none;
	display: block;
	padding: 5px;
	border: 1px solid #c8c8c8;
	border-bottom: none;
	color: black;
}


#brd {
	border-bottom: 1px solid #c8c8c8; 
}


.sidebar a:hover {
	color: white;
	background-color: #c8c8c8;
}


.text{
	clear: both;
	float: right;
	width: 600px;
	margin-top: 40px;
	line-height: 20px;
	margin-bottom: 40px;
}


.footer{
	clear: both;
	background: #c8c8c8;


	
}

.footer ul {
	word-spacing: 60px;
}


.footer li{
	display: inline-block;
}


.footer a{
	padding: 10px;
	display: block;
	height: 30px;
	color: black;
	text-decoration: none;
}

#undr {
	text-decoration: underline;
}

#space{
	word-spacing: normal;
	padding-left: 200px;
}
